
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="telephone=no, address=no" name="format-detection" />
    <link rel="shortcut icon" href="/logo.ico" type="image/x-icon">
    <title>CodingFly</title>
    <style>
        .container{
            text-align: center;
        }
        .container img{
            width: 30%;
            margin-top: 5%;
        }
    </style>
</head>
<body>
<div class="container">
    <p class="noText">
        <img src='{Resource:path src="static/images/maintain.png"/}' />
    </p>
    <H3>系统维护中...</H3>
</div>
</body>
</html>
